---
import { socialLink, socialIcon } from "../../styles/social-link.css";
import Zenn from "../../assets/sns/zenn.svg";

interface Props {
    url: string;
    label: string;
}

const { url, label } = Astro.props;
---

<a
    href={url}
    target="_blank"
    rel="noopener noreferrer"
    class={socialLink}
    aria-label={label}
>
    <img src={Zenn.src} alt="Zenn" class={socialIcon} />
</a>
