---
import type { ImageMetadata } from "astro";
import { socialLink, socialIcon } from "@components/SocialLink.css";
import { Image } from "astro:assets";

export interface Props {
  name: string;
  url: string;
  icon: ImageMetadata;
  label: string;
}

const { name, url, icon, label } = Astro.props;
---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  class={socialLink}
  aria-label={label}
>
  <Image src={icon} alt={name} class={socialIcon} width={24} height={24} />
</a>
