---
import type { ImageMetadata } from "astro";
import {
  socialLinkButton,
  socialLinkIcon,
  socialLinkIconDark,
  socialLinkIconLight,
} from "@components/SocialLink.css";
import { Image } from "astro:assets";

export interface Props {
  name: string;
  url: string;
  iconLight: ImageMetadata;
  iconDark: ImageMetadata;
  label: string;
}

const { url, iconLight, iconDark, label } = Astro.props;
---

<a href={url} target="_blank" rel="noopener noreferrer" class={socialLinkButton} aria-label={label}>
  <Image
    src={iconLight}
    alt=""
    aria-hidden="true"
    class:list={[socialLinkIcon, socialLinkIconLight]}
    width={24}
    height={24}
  />
  <Image
    src={iconDark}
    alt=""
    aria-hidden="true"
    class:list={[socialLinkIcon, socialLinkIconDark]}
    width={24}
    height={24}
  />
</a>
