---
import {
  center,
  headerContainer,
  iconImage,
  socialContainer,
  footer,
} from "@styles/welcome.css";
import SocialLink from "@components/SocialLink.astro";
import { socialLinks } from "@config/social";
import Icon from "@assets/icon.png";
---

<div class={center}>
  <main>
    <section>
      <div class={headerContainer}>
        <img
          src={Icon.src}
          alt="Naatin's Icon"
          class={iconImage}
          loading="eager"
        />
        <h1>Hey, I'm Naatin 👋</h1>
      </div>
    </section>
  </main>
  <div class={socialContainer}>
    {socialLinks.map((link) => <SocialLink {...link} />)}
  </div>
  <footer class={footer}>© 2026 Naatin. All Rights Reserved.</footer>
</div>
