---
import {
    githubLink,
    githubIconLight,
    githubIconDark,
} from "../styles/github-link.css";
import XLight from "../assets/x-light.svg";
import XDark from "../assets/x-dark.svg";

interface Props {
    url: string;
    label: string;
}

const { url, label } = Astro.props;
---

<a
    href={url}
    target="_blank"
    rel="noopener noreferrer"
    class={githubLink}
    aria-label={label}
>
    <img src={XLight.src} alt="GitHub" class={githubIconLight} />
    <img src={XDark.src} alt="GitHub" class={githubIconDark} />
</a>
